.layout-wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.sidebar {
    width: 280px;
    height: 100vh;
}

.content-area {
    height: 100vh;
}

.dropdown {
  position: relative;
}

// dropdown รูปแบบ popup ขึ้นบน
.dropdown-menu {
  position: absolute;
  bottom: 100%;
  right: 0;
  top: auto;
  min-width: 160px;
  z-index: 1050;
}