@import 'variables';

.btn-primary {
  background-color: $color-primary;
  border: none;

  &:hover {
    background-color: $color-primary-hover;
  }
}

.btn-outline-light {
  border-color: $color-primary;
  color: $color-primary;

  &:hover {
    background: $color-primary;
    color: #fff;
  }
}

.btn-edit {
  background-color: $btn-edit-color;
  border: 1px solid rgba($color-primary, 0.2);
  color: $color-primary;
  font-weight: 600;

  &:hover {
    background-color: $color-primary;
    color: #fff;
  }
}

.btn-admin-delete {
  background-color: $bg-color-admin-del;
  border: 1px solid $border-color-admin-del;
  color: $color-admin-del;

  &:hover {
    background-color: $bg-color-admin-del-hover;
    color: $color-admin-del-hover;
  }
}

.navbar {
  background: #ffffff;
  border-bottom: 1px solid $color-border;

  .navbar-brand {
    font-weight: 700;
    color: $color-primary !important;
  }

  .btn-outline-light {
    border-color: $color-primary;
    color: $color-primary;

    &:hover {
      background: $color-primary;
      color: #fff;
    }
  }
}

.btn-dialog {
  width: 100px;
  height: 40px;
  font-weight: 600;
  margin-right: 10px;
}

.btn-dialog-primary {
  background-color: $color-primary;
  border: none;
  color: #fff;

  &:hover {
    background-color: $color-primary-hover;
  }
}

.btn-dialog-secondary {
  background-color: transparent;
  border: 1px solid $color-primary;
  color: $color-primary;

  &:hover {
    background-color: $color-primary;
    color: #fff;
  }
}
