@import "../../../../../assets/styles.scss";

.navbar {
  background: #ffffff;
  border-bottom: 1px solid $color-border;

  .navbar-brand {
    font-weight: 700;
    color: $color-primary !important;
  }

  .btn-outline-light {
    border-color: $color-primary;
    color: $color-primary;

    &:hover {
      background: $color-primary;
      color: #fff;
    }
  }
}