<div class="auth-page">
  <div class="auth-card">
    <div class="auth-header">
      <h3>สมัครสมาชิก</h3>
      <p>สร้างบัญชีของคุณเพื่อเริ่มต้นการจองที่พัก</p>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="form-group mb-3">
        <label>ชื่อผู้ใช้</label>
        <input
          type="text"
          class="form-control"
          formControlName="username"
          placeholder="กรอกชื่อผู้ใช้"
        />
        @if (registerForm.get('username')?.touched && registerForm.get('username')?.invalid) {
          <div class="text-danger mt-1">กรุณากรอกชื่อผู้ใช้</div>
        }
      </div>
      <div class="form-group mb-3">
        <label>อีเมล</label>
        <input type="email" class="form-control" formControlName="email" placeholder="กรอกอีเมล" />
        @if (
          registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required']
        ) {
          <div class="text-danger mt-1">กรุณากรอกอีเมล</div>
        }

        @if (registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['email']) {
          <div class="text-danger mt-1">กรุณากรอกอีเมลให้ถูกต้อง</div>
        }
      </div>

      <div class="form-group mb-3">
        <label>รหัสผ่าน</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="กรอกรหัสผ่าน"
          minlength="6"
        />
        @if (
          registerForm.get('password')?.touched &&
          registerForm.get('password')?.errors?.['required']
        ) {
          <div class="text-danger mt-1">กรุณากรอกรหัสผ่าน</div>
        }

        @if (
          registerForm.get('password')?.touched &&
          registerForm.get('password')?.errors?.['minlength']
        ) {
          <div class="text-danger mt-1">รหัสผ่านต้องมีความยาวอย่างน้อย 6 ตัวอักษร</div>
        }
      </div>

      <div class="form-group mb-4">
        <label>ยืนยันรหัสผ่าน</label>
        <input
          type="password"
          class="form-control"
          formControlName="confirmPassword"
          placeholder="ยืนยันรหัสผ่าน"
        />
        @if (registerForm.get('confirmPassword')?.errors?.['mismatch']) {
          <div class="text-danger mt-1">รหัสผ่านไม่ตรงกัน</div>
        }
      </div>

      <button type="submit" class="btn btn-primary w-100 mb-3">สมัครสมาชิก</button>
    </form>

    <div class="auth-footer">
      <span>มีบัญชีอยู่แล้ว?</span>
      <a routerLink="/auth/login" class="text-decoration-underline">เข้าสู่ระบบ</a>
    </div>
  </div>
</div>
