$primary-color: #1a1a1a;
$border-color: #e5e7eb;
$text-light: #666;

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2rem;
}
.room-image {
  height: 220px;
  object-fit: cover;
}
.cursor-pointer {
  cursor: pointer;
}

ul {
  list-style-type: disc;
  li {
    line-height: 1.8; 
  }
}
.border-dark-subtle {
  border-color: #e5e7eb !important; 
}
.main-gallery-img {
  height: 400px;
}
.thumbnail-img {
  width: 90px;
  height: 60px;
  object-fit: cover;
  opacity: 0.6; 
  transition: all 0.2s ease-in-out;
  border: 2px solid transparent;
}
.active-thumbnail {
  opacity: 1;
  border-color: #212529; 
}
.custom-scrollbar::-webkit-scrollbar {
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}
.btn-light, .btn-dark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
}

.search-widget {
  max-width: 900px;
  margin: -2rem auto 0;
  background: white;
  border: 1px solid $border-color;
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  box-shadow: 0 4px 6px rgba(253, 253, 253, 0.05);
  align-items: flex-end;

  .input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    label {
      font-size: 0.8rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    input,
    select {
      padding: 0.5rem;
      border: 1px solid $border-color;
      border-radius: 6px;
      width: 100%;
    }
  }
  .btn-search {
    background: $primary-color;
    color: white;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 8px;
    height: fit-content;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.hero {
  margin-bottom: 2rem;
}